<div class='ui container codepen-margin'>
  <div class="ui grid">
    <div class="five wide column">
      <div class="ui raised segments">
        <div class="ui center aligned secondary segment">
          <div class="ui statistic">
            <div class="value">
              $0
            </div>
            <div class="label">
              FREE/TRIAL
            </div>
          </div>
        </div>
        <div class="ui center aligned segment">
          <p> - Train faces of upto 100 Images</p>
        </div>
        <div class="ui center aligned segment">
          <p> - Predict faces of upto 100 Images</p>
        </div>
      </div>
      <div class="ui green fluid button">
        Select
      </div>
    </div>
    <div class="five wide column">
      <div class="ui raised segments">
        <div class="ui center aligned secondary segment">
          <div class="ui statistic">
            <div class="value">
              $5
            </div>
            <div class="label">
              per 100
            </div>
          </div>
        </div>
        <div class="ui center aligned segment">
          <p> - Premium Feature One </p>
        </div>
        <div class="ui center aligned segment">
          <p> - Another great feature </p>
        </div>
      </div>
      <div class="ui green fluid button">
        Select
      </div>
    </div>
    <div class="five wide column">
      <div class="ui raised segments">
        <div class="ui center aligned secondary segment">
          <div class="ui statistic">
            <div class="value">
              $50
            </div>
            <div class="label">
              per 10000 images
            </div>
          </div>
        </div>
        <div class="ui center aligned segment">
          <p> - A basic feature </p>
        </div>
        <div class="ui center aligned segment">
          <p> - Look. No additional CSS or anything </p>
        </div>
      </div>
      <div class="ui green fluid button">
        Select
      </div>
    </div>
  </div>
</div>
