<!--The content below is only a placeholder and can be replaced.-->

<div class="ui inverted top fixed menu">
  <div class="ui container">
    <a routerLink="/" class="header item">
      <img class="ui mini image" src="/assets/woman-163426_640.png">
      &nbsp;
      Face Detection
    </a>
    <a class="item" *ngIf="!isAuthenticated" routerLink="/login">Login</a>
    <a id="messages-button" class="item" *ngIf="isAuthenticated" routerLink="/home"><i aria-hidden="true"
        class="home icon"></i>Home</a>
    <a id="messages-button" class="item" *ngIf="isAuthenticated" routerLink="/pricing"><i aria-hidden="true"
        class="dollar sign icon"></i>Pricing</a>

    <a id="logout-button" class="item" *ngIf="isAuthenticated" (click)="logout()">Logout</a>
  </div>
</div>

<!-- <div class="ui text container" style="margin-top: 7em;">
  
</div> -->

<div class="p-grid" style="margin-top: 7em;margin-left: 2em;margin-right: 2em" p-align-center>
  <div class="p-col">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <div class="ui-g-12" style="margin-top: 7em;">
  
</div> -->
