<div *ngIf="isAuthenticated && userName">
  <p>Welcome back, {{ userName }}!</p>
</div>
<br>
<br>

<p-fieldset legend="Train" [toggleable]="true">
  <h3 class="first">Upload Images</h3>
  <form [formGroup]="trainingForm">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 5px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          <input pInputText type="text" formControlName="personToDetect" placeholder="Name of the Person" />
        </div>
        <div class="ui-grid-col-3">
          <p-message severity="error" text="Name of the person is required!"
            *ngIf="!trainingForm.controls['personToDetect'].valid&&trainingForm.controls['personToDetect'].dirty">
          </p-message>
        </div>
      </div>
    </div>
  </form>

  <div class="ui three column grid" *ngIf="showProgressBar">
    <div class="column">
      <div class="ui divided selection list">
        <a class="item">
          <div class="ui purple horizontal label">Please Wait....</div>
        </a>
      </div>
    </div>
    <div class="column">
      <p>
        Training the machine to detecting faces in the images...
      </p>
    </div>
    <div class="column">
      <p>
        <p-progressBar mode="indeterminate" [style]="{'height': '10px'}"></p-progressBar>
      </p>
    </div>
  </div>

  <div class="ui one column grid" *ngIf="!true">
    <div class="column">
      <div class="ui raised segment">
        <a class="ui orange ribbon label">Please Wait...</a>
        <span>Model Creation...</span>
        <p>
          <br>
        </p>
        <p>
          Detecting faces in the pictures...
        </p>
        <p>
          <p-progressBar mode="indeterminate" [style]="{'height': '10px'}"></p-progressBar>
        </p>
      </div>
    </div>
  </div>

  <br>

  <div class="p-grid">
    <div class="p-col">
      <p-fileUpload #trainingUploadForm name="samples[]" uploadLabel="Train" customUpload="true" multiple="true"
        (uploadHandler)="train($event, trainingUploadForm)" chooseLabel="Upload Sample Images">
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedTrainingFiles.length">
            <li *ngFor="let file of uploadedTrainingFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
  </div>
</p-fieldset>
<br>

<p-fieldset legend="Face Detect" [toggleable]="true">
  <h3>Currently Trained to identify the faces of :</h3>
  <div class="ui success message transition" *ngIf="trainingComplete">
    <i class="close icon"></i>
    <div class="header">
      Ready to face detect: {{personToDetect | titlecase}}.
    </div>
    <p>Upload the pictures to detect face!</p>
  </div>

  <div class="p-grid p-justify-center">
    <a class="ui tag label" *ngFor="let faces of trainedFaces">{{faces | titlecase}}</a>
  </div>

  <br>

  <div class="ui three column grid" *ngIf="showFaceDetectionProgressBar">
    <div class="column">
      <div class="ui divided selection list">
        <a class="item">
          <div class="ui purple horizontal label">Please Wait....</div>
        </a>
      </div>
    </div>
    <div class="column">
      <p>
        Detecting faces in the images...
      </p>
    </div>
    <div class="column">
      <p>
        <p-progressBar mode="indeterminate" [style]="{'height': '10px'}"></p-progressBar>
      </p>
    </div>
  </div>
  <br>
  <div class="p-grid">
    <div class="p-col">
      <p-fileUpload name="predictSamples[]" chooseLabel="Upload Images" uploadLabel="Detect Faces" customUpload="true"
        multiple="true" (uploadHandler)="predict($event)">
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedPredictionFiles.length">
            <li *ngFor="let file of uploadedPredictionFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
  </div>
  <br>
  <br>

  <div *ngIf="predictionComplete">
    <div class="ui link cards">
      <div class="card" *ngFor="let file of predictedImages;let i = index;">
        <div class="image">
          <img [src]="file.fileURL">
        </div>
        <div class="content">
          <div class="header">{{file.filename}}</div>
          <div class="meta">
            <a>Faces Detected</a>
          </div>

          <br>

          <div class="ui one column left grid">
            <div class="ui divided selection list">
              <a class="item" *ngFor="let face of file.faces;let j = index;">
                <div [ngClass]="(face.person==='unknown')?'ui red tag label large':'ui purple tag label large'">
                  Person: {{face.person | titlecase}}
                </div>
                <div class="ui black labels">
                  <div class="four column right floated left aligned row">
                    <br>
                    <div class="column">
                      <a class="ui label">
                        left
                        <div class="detail">{{ face.coordinates.left}}</div>
                      </a>
                    </div>
                    <br>
                    <div class="column">
                      <a class="ui label">
                        top
                        <div class="detail">{{ face.coordinates.top}}</div>
                      </a>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="extra content">
          <span class="left floated like">
            <i class="like icon"></i>
            Like
          </span>
          <span class="right floated star">
            <i class="star icon"></i>
            Improve
          </span>
        </div>
      </div>
    </div>
  </div>
</p-fieldset>
